
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

/* Custom scrollbar for Chrome, Edge, Safari */
.my-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.my-scrollbar::-webkit-scrollbar-track {
  background: #000; /* Dark track */
}

.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333; /* Black thumb */
  border-radius: 4px;
}

/* Remove the top and bottom arrow buttons */
.my-scrollbar::-webkit-scrollbar-button {
  display: none;
}


:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
